<!DOCTYPE HTML>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{js/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="css/font-awesome.css" rel="stylesheet">
	<!--<script src="https://kit.fontawesome.com/yourcode.js"></script>
--font-Awesome----->

</head>
<body>
<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner">
        <div class="container">

				  <span class="navbar-text" style="font-size: 16px;color:white"><p th:if="${session.login}" th:text="${session.userName}"></p>
				  <p th:unless="${session.login}">UnknownUser</p></span>



			<div class="navigation">

				<nav id="colorNav">

					<ul>

						<li class="green">
							<a href="#" class="fas fa-bars">

							</a>
							<ul>
								<li><a th:unless="${session.login}" th:href="@{/ToLogin}">Login</a></li>
								<li><a th:unless="${session.login}" th:href="@{/ToRegister}">Register</a></li>
								<li><a th:if="${session.login}" th:href="@{/Logout}">Logout</a></li>
								<!--<li><a th:href="@{/requestProList}">RequestData</a></li>-->
							</ul>
						</li>
					</ul>
				</nav>
			</div>
           <a class="brand" th:href="@{/Home}"><img src="images/logo.png" alt="logo"></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		   </div> 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		        <ul class="nav navbar-nav nav_1">
		            <li><a th:href="@{/Home}">Home</a></li>
					<li><a th:href="@{/Interested}">Interested</a></li>
		        </ul>

		     </div><!-- /.navbar-collapse -->



		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>

        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
<div class="banner">
  <div class="container">
    <div class="banner_info">
      <h3>Millions of verified Members</h3>
      <a th:unless="${session.hasPro}" th:href="@{/ToCreateProfile}" class="hvr-shutter-out-horizontal">Create your Profile</a>
		<a th:if="${session.hasPro}" th:href="@{/ToModifierProfile}" class="hvr-shutter-out-horizontal">Modify your Profile</a>
    </div>
  </div>
  <div class="profile_search">
  	<div class="container wrap_1">
	  <form th:action="@{/requestProList}" method="get">
	  	<div class="search_top">
		 <div class="inline-block">
		  <label class="gender_1">I am looking for :</label>
			<div class="age_box1" style="max-width: 100%; display: inline-block;">
				<select name="Gender">
					<option value="">* Select Gender</option>
					<option value="Male">M</option>
					<option value="Female">F</option>
				</select>
		   </div>
	    </div>
        <div class="inline-block">
		  <label class="gender_1">Located In :</label>
			<div class="age_box1" style="max-width: 100%; display: inline-block;">
				<select name="locate">
					<option  value="">* Select State</option>
					<option  value="Paris">Paris</option>
					<option  value="Lyon">Lyon</option>
					<option value="Nice">Nice</option>
					<option  value="Toulouse">Toulouse</option>

               </select>
          </div>
        </div>

     </div>
	 <div class="inline-block">
	   <div class="age_box2" style="max-width: 220px;">
	   	<label class="gender_1">Age :</label>
	    <input class="transparent" placeholder="From:" name="ageF" style="width: 34%;" type="text" value="">&nbsp;-&nbsp;<input class="transparent" name="ageT" placeholder="To:" style="width: 34%;" type="text" value="">
	   </div>
	 </div>
       <div class="inline-block">
		  <label class="gender_1">Status :</label>
			<div class="age_box1" style="max-width: 100%; display: inline-block;">
				<select name="Status">
					<option  value="">* Select Status</option>
					<option  value="Single">Single</option>
					<option  value="Divorced">Divorced</option>
					<option  value="Widowed">Widowed</option>
					<option  value="Separated">Separated</option>
				</select>
		  </div>
	    </div>
		<div class="submit inline-block">
		   <input id="submit-btn" class="hvr-wobble-vertical" type="submit" value="Find Matches">
		</div>
     </form>
    </div>
  </div> 
</div>
    <div class="footer">
		<div class="container">




			<div class="clearfix"> </div>
			<div class="copy">
				<p>Copyright &copy; 2015.Company name All rights reserved.</p>
			</div>
		</div>

    </div>
</body>
</html>	